/*Import of Google font*/
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


/*Asterisk Wildcard selector to override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lora", serif;
}

/*Header*/
header {
    background-color: crimson;
}

/*Logo*/
#logo {
    font-family: "Explora", serif;
}

/*dropdown menu*/

.menu {
    display: none;
}

/*dropdown menu display on off*/
#nav-toggle:checked~nav {
    display: block;
}

/*Main Content*/
main {
    background-color: paleturquoise;
    /*Make main content expand to take up unused space*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: crimson;
}