/*Asterisk Wildcard selector to override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    background-color: crimson;
}

/*Main Content*/
main {
    background-color: paleturquoise;
    /*Make main content expand to take up unused space*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: crimson;
}